.card{
    box-shadow:10px 5px 5px red ;
    background-color: rgb(0, 0, 0);
    color: rgb(28, 16, 16);
    align-items: center;
     img{
        border-radius: 100px;
        width: 50%;
        height: auto;
        box-shadow: 
        inset 0 -3em 3em rgb(0 200 0 / 30%),
        0 0 0 2px white,
        0.3em 0.3em 1em rgb(200 0 0 / 60%)
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &_title{
            font-size: 20px;
        }
        &_text{
            font-size: 15px;
            text-align: justify;
            opacity: 0.5;
        }
    }
}\.align-it{
    display: flex;
    align-content: space-between;
    align-items: center;
    background-color: "black";
}
.container {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  

  .table-dark {
    background-color: #343a40;
    color: white;
  }
  
  .table-dark th,
  .table-dark td {
    border-color: #454d55;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

.p-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-2 .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}